<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {{ partial "header" (dict "Kind" .Kind "Template" "Single") }}

    <div style="margin: 25px">
      <h1>{{.Title}}</h1>

      <div style="color: grey; font-size: 16px">
        {{ dateFormat "Monday, Jan 2, 2006" .Date }}
      </div>
      <div style="color: grey; font-size: 16px">
        {{if .Params.author}}Author: {{.Params.Author}}{{end}}
      </div>
      <div style="font-size: 18px">{{.Content}}</div>
    </div>
    {{ partial "footer" . }}

    <table id="myTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <script>
      
      axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then(function (response) {
          var users = response.data;
          var tableBody = document.querySelector("#myTable tbody");
          users.forEach(function (user) {
            var row = document.createElement("tr");
            var nameCell = document.createElement("td");
            var emailCell = document.createElement("td");
            nameCell.textContent = user.name;
            emailCell.textContent = user.email;
            row.appendChild(nameCell);
            row.appendChild(emailCell);
            tableBody.appendChild(row);
          });
        })
        .catch(function (error) {
          console.error(error);
        });
    </script>
  </body>
</html>
